{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <div class="post-detail">
        <div class="card">
            {% if post.image %}
                <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
            {% endif %}
            <div class="card-body">
                <h1 class="card-title">{{ post.title }}</h1>
                <div class="post-meta mb-3">
                    <span class="author">Автор: <a
                            href="{% url 'accounts_app:user_profile' post.author.username %}">{{ post.author.username }}</a></span>
                    |
                    <span class="date">{{ post.created_at|date:"d.m.Y" }}</span> |
                    <span class="views">Просмотры: {{ post.views }}</span>
                </div>
                <div class="post-category mb-2">
                    Категория: <a
                        href="{% url 'blog:category_detail' post.category.slug %}">{{ post.category.name }}</a>
                </div>
                <div class="post-tags mb-3">
                    Теги:
                    {% for tag in post.tags.all %}
                        <a href="{% url 'blog:tag_detail' tag.slug %}" class="badge bg-secondary">{{ tag.name }}</a>
                    {% endfor %}
                </div>
                <div class="post-content">
                    {{ post.text|linebreaks }}
                </div>
            </div>
        </div>

        {% if related_posts %}
            <div class="related-posts mt-4">
                <h3>Похожие статьи</h3>
                <div class="row">
                    {% for related_post in related_posts %}
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ related_post.title }}</h5>
                                    <a href="{{ related_post.get_absolute_url }}" class="btn btn-primary">Читать</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
