:root {
    --primary-color: #adaa9c ;
    --secondary-color: #3498db;
    --accent-color: #e74c3c;
    --bg-light: #f8f9fa;
    --text-dark: #2c3e50;
    --text-light: #95a5a6;
}

/* Навигация */
.navbar {
    background-color: var(--primary-color) !important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.navbar-brand {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white) !important;
}
.nav-link {
    font-weight: 500;
    color: var(--white) !important;
    transition: color 0.3s ease;
}
.nav-link:hover {
    color: var(--secondary-color) !important;
}

/* Карточки категорий */
.category-card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.category-card:hover {
    transform: translateY(-5px);
}

/* Теги */
.tag-badge {
    display: inline-block;
    padding: 5px 10px;
    margin: 2px;
    border-radius: 15px;
    background: var(--secondary-color);
    color: white;
    text-decoration: none;
    font-size: 0.9em;
    transition: background 0.3s ease;
}

.tag-badge:hover {
    background: var(--primary-color);
    color: white;
}

/* Пагинация */
.pagination-nav {
    margin: 2rem 0;
}

.page-link {
    color: var(--primary-color);
    border-radius: 5px;
    margin: 0 2px;
}

.page-item.active .page-link {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

/* Карточки постов */
.post-card {
    background: white;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: transform 0.2s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.post-meta {
    margin: 15px 0;
}


.post-card:hover {
    transform: translateY(-5px);
}
.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid var(--bg-light);
}

.stats {
    color: var(--text-light);
    font-size: 0.9em;
}

.stats span {
    margin-right: 15px;
}

.stats i {
    margin-right: 5px;
}
