{% extends 'base.html' %}

{% block title %}Пароль изменен{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2>Пароль успешно изменен</h2>
            </div>
            <div class="card-body">
                <p>Ваш пароль был успешно изменен. Теперь вы можете войти в систему.</p>
                <a href="{% url 'accounts_app:login' %}" class="btn btn-primary">Войти</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
