{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>О нас</h1>

      <p>Мы команда разработчиков, увлеченных созданием высококачественных веб-приложений и веб-сайтов.</p>

      <p>Нашими основными ценностями являются:</p>

      <ul class="list-unstyled">
        <li><strong>Качество:</strong> Мы стремимся создавать продукты высочайшего качества, которые отвечают потребностям наших клиентов.</li>
        <li><strong>Инновации:</strong> Мы постоянно исследуем и внедряем новые технологии, чтобы предоставить нашим клиентам самые передовые решения.</li>
        <li><strong>Клиентоориентированность:</strong> Мы ставим удовлетворенность клиентов на первое место и стремимся превзойти их ожидания.</li>
      </ul>

      <h2>Наша команда</h2>

      <div class="row">
        {% for member in team_members %}
        <div class="col-md-4">
          <div class="card">
            <img src="{{ member.photo.url }}" class="card-img-top" alt="{{ member.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ member.name }}</h5>
              <p class="card-text">{{ member.position }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <h2>Наши клиенты</h2>

      <div class="row">
        {% for client in clients %}
        <div class="col-md-3">
          <div class="card">
            <img src="{{ client.logo.url }}" class="card-img-top" alt="{{ client.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ client.name }}</h5>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <h2>Свяжитесь с нами</h2>

      <p>Если у вас есть какие-либо вопросы или вы хотите обсудить проект, пожалуйста, свяжитесь с нами по электронной почте <a href="mailto:info@example.com">info@example.com</a> или по телефону <a href="tel:+1234567890">+1234567890</a>.</p>
    </div>
  </div>
</div>
{% endblock %}
